.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env.local
staticfiles/
media/
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/
node_modules/
apps/theme/static/
.ruff_cache/
.coverage
htmlcov/
coverage.xml
celerybeat-schedule
celerybeat.pid
*.log
*.sqlite3
Thumbs.db
desktop.ini
